<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Snake Store on Spring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href='/webjars/bootstrap/5.1.0/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/theme.min.css">
	<link rel="stylesheet" href="/site.css">
</head>
<body>

	<div th:replace="fragments/topnavbar.html"></div>

	<!-- Page Content -->
	<div class="container">

		<h1>Contact Page</h1>
		<p>More content to follow</p>

	</div>

	<div th:replace="fragments/footer.html"></div>
	<div th:replace="fragments/scripts.html"></div>
</body>
</html>